html{
 background: url(https://i.postimg.cc/BbjZ1PmB/58.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
  
}
h1{
   font-family: 'Great Vibes', cursive;
  margin-top:2px;
  text-align : center;
  font-weight: 500;
  font-size: 45px;
}
h2{
  font-family: 'Great Vibes', cursive;
  margin-top:-38px;
  text-align : center;
  font-weight: 500;
  font-size: 65px;
  
}


h1,h2{
  color:#ff3c41;
}
.headerContainer{
  font-weight: bold;
  font-size:20px;
  display: block;
  position:relative;
	max-width: 60%;
	min-height: 100px;
	left: 25%;
  z-index:1;
	overflow: hidden;
	background-color: rgb(143,179,226, 0.7);
 
}

.text-justify {
  text-align:center;
  color:#06315D;
  dosplay:block;
  text-indent:28px;
}
nav{
  width:100%;
  float:left;
 
}
.menu{
  margin:0;
  padding:8px;
  height:21px;
  background-color:#334a94;

}
.menu li{
  display:inline;
}
.button{
  font-family:arial;
  font-size:1em;
  font-style:none;
  color:#ffffff;
  padding:8px;
  text-decoration:none;
}

.button:link{
  background-color:#334a94;
  color:#ffffff;
}

.button:hover{
  background-color:#786ed4;
}
.logo {

    position: absolute;
    right: 80px;
   
}
.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.seasons{
  color:#D11B00;
  background-color:white;
  text-align:center;
}

body{
  margin:0;
  padding:0;
  background: url(https://i.postimg.cc/BbjZ1PmB/58.jpg) no-repeat center center fixed; 
  background-size:cover;
}
section{
  position:relative;
}
.snow{
position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  height:2000px; background:url(https://i.postimg.cc/RVwFLPRk/depositphotos-224657550-stock-video-isolated-snow-falling-on-black.jpg);
  mix-blend-mode:screen;
  z-index:0;
}
.snow1{
  animation: animateSnow1 15s linear infinite ;
}
.snow2{
  animation: animateSnow2 10 linear infinite ;
}
.snow3{
  animation: animateSnow3 15s linear infinite ;
}
@keyframes animateSnow1{
  0% {
    background-position:0 0;
  }
  100%{
    background-position:608px 342px;
  }
}
@keyframes animateSnow2{
  0% {
    background-position:0 0;
    filter:blur(2px)
  }
  100%{
    background-position:608px 342px;
    filter:blur(2px)
  }
}
@keyframes animateSnow3{
  0% {
    background-position:0 0;
    transforme:scale(5);
  }
  100%{
    background-position: 0 342px;
   transforme:scale(5);
  }
}
.text-white-50 {
    color: rgba(255,255,255,.5)!important;
  background-color:#3B5197;
}
.text-center {
    text-align: center!important;
}
